

header{
	background-color: green;
	display: flex;
	justify-content: space-between;
	align-content: center;

}
h1 {
		text-align: center;
		color: white;
		padding-left: 1rem
		
		
}
h4{
padding-right: 1rem	
}
a{
		color: white;
}
